 
p.compliant {

     color:rgb(0,255,0);

}


p.dispensation {

     color:rgb(255,255,0);

}


p.review {

     color:rgb(0,0,255);

}



p.noncompliant {

     color:rgb(255,0,0);

}



p.rational {
     font-family:"Times New Roman"; 
     font-size:10pt; 
     font-weight:bold; 
     text-align:left;
     margin-top:0pt;
     margin-bottom:0pt;
}

